<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
</head>
<body>

<div th:replace="~{navbar}"></div>
<script th:src="@{/js/theme.js}"></script>

<div class="dashboard navGap">
    <h1>Welcome, Admin!</h1>

    <div class="card-grid">
        <div class="dashboard-card">
            <h3>Upload Found Item</h3>
            <a th:href="@{/upload-item}" class="btn">Upload</a>
        </div>

        <div class="dashboard-card">
            <h3>View Found Items</h3>
            <a th:href="@{/view-items}" class="btn">View</a>
        </div>

        <div class="dashboard-card">
            <h3>View Lost Items</h3>
            <a th:href="@{/view-lost-items}" class="btn">View</a>
        </div>

        <div class="dashboard-card">
            <h3>Claimed Items</h3>
            <a th:href="@{/claimed-items}" class="btn">View</a>
        </div>
    </div>

    <br>
    <a th:href="@{/logout}" class="btn btn-outline">Logout</a>
</div>

<div th:replace="~{footer}"></div>
<script th:src="@{/js/change.js}"></script>

</body>
</html>