<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Password</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
</head>
<body>

<div th:replace="~{navbar}"></div>
<script th:src="@{/js/theme.js}"></script>

<main class="page-content navGap">
    <h1 class="page-title">Change Password</h1>

    <div class="form-wrapper">
        <form th:action="@{/change-password}" method="post">

            <input type="email" th:value="${email}" readonly>

            <input type="password" name="current_password"
                placeholder="Current Password" required>

            <input type="password" name="new_password"
                placeholder="New Password" required>

            <input type="password" name="confirm_password"
                placeholder="Re-type New Password" required>

            <p th:if="${error != null}" class="info-text" style="color:#AF0C3E;" th:text="${error}"></p>

            <div class="form-actions">
                <button class="btn" type="submit">Verify & Continue</button>
            </div>
        </form>
    </div>
</main>

<div th:replace="~{footer}"></div>
<script th:src="@{/js/change.js}"></script>

</body>
</html>