<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Amrita Lost & Found</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
</head>
<body>

<div class="center-box">
    <div class="card">

        <img th:src="@{/images/amrita_logo.jpg}" style="width:130px" alt="Amrita Logo">

        <h1>Amrita Lost & Found</h1>
        <p>Reuniting you with your belongings</p>

        <br>

        <a th:href="@{/login}" class="btn">Login</a>
        <a th:href="@{/register}" class="btn btn-outline">Register</a>

    </div>
</div>

</body>
</html>