<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
</head>
<body>

    <div th:replace="~{navbar}"></div>
    <script th:src="@{/js/theme.js}"></script>

    <h1 class="page-title navGap">Login</h1>

    <div class="form-wrapper">
        <form th:action="@{/login}" method="post">

            <input type="email" name="email" placeholder="College Email" required>
            <input type="password" name="password" placeholder="Password" required>

            <div class="form-actions">
                <button type="submit" class="btn">Login</button>
            </div>
            
            <p class="info-text">
             <a th:href="@{/forgot-password}">Forgot Password?</a>
            </p>

            <p style="text-align:center; margin-top:15px;">
                New student? <a th:href="@{/register}">Register</a>
            </p>

        </form>
    </div>
    
    <div th:replace="~{footer}"></div>
    <script th:src="@{/js/change.js}"></script>

</body>
</html>