<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
</head>
<body>

<div th:replace="~{navbar}"></div>
<script th:src="@{/js/theme.js}"></script>

<h1 class="page-title navGap">Reset Password</h1>

<div class="form-wrapper">
    <form th:action="@{/reset-password}" method="post">

        <input type="password" name="new_password"
               placeholder="New Password" required>

        <input type="password" name="confirm_password"
               placeholder="Confirm New Password" required>

        <p th:if="${error != null}" class="info-text" style="color:#AF0C3E;" th:text="${error}"></p>

        <div class="form-actions">
            <button type="submit" class="btn">Reset Password</button>
        </div>

    </form>
</div>

<div th:replace="~{footer}"></div>
<script th:src="@{/js/change.js}"></script>

</body>
</html>