<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
</head>
<body>

    <div th:replace="~{navbar}"></div>
<script th:src="@{/js/theme.js}"></script>

<div class="dashboard navGap">
    <h1 th:text="'Welcome! ' + ${student_name}">Welcome! Student</h1>

    <div class="card-grid">
        <div class="dashboard-card">
            <h3>Search Found Items</h3>
            <a th:href="@{/search}" class="btn">Search</a>
        </div>

        <div class="dashboard-card">
            <h3>Report Lost Item</h3>
            <a th:href="@{/report-lost}" class="btn">Report</a>
        </div>

        <div class="dashboard-card">
            <h3>Report Found Item</h3>
            <a th:href="@{/report-found}" class="btn">Upload</a>
        </div>
    </div>

    <br>
    <a th:href="@{/logout}" class="btn btn-outline">Logout</a>
</div>

<div th:replace="~{footer}"></div>
<script th:src="@{/js/change.js}"></script>

</body>
</html>