<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OTP Verification</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
</head>
<body>

<div th:replace="~{navbar}"></div>
<script th:src="@{/js/theme.js}"></script>

<h1 class="page-title navGap">Verify your Mail</h1>

<div class="form-wrapper">
    <form th:action="@{/verify-otp}" method="post">

        <input type="text" name="otp" placeholder="Enter OTP" required>

        <div class="form-actions">
            <button type="submit" class="btn">Verify</button>
        </div>

    </form>
</div>

<div th:replace="~{footer}"></div>
<script th:src="@{/js/change.js}"></script>

</body>
</html>