<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
    <title>View Found Items</title>
</head>
<body>

<div th:replace="~{navbar}"></div>
<script th:src="@{/js/theme.js}"></script>

<div class="dashboardd">
    <h2 class="navGap">Found Items</h2>

    <table class="tab" border="1" cellpadding="10">
        <tr>
            <th>Item Name</th>
            <th>Description</th>
            <th>Location</th>
            <th>Image</th>
            <th>Uploaded By</th>
            <th>Action</th>
        </tr>

        <tr th:each="item : ${items}">
            <td th:text="${item.itemName}">Item Name</td>
            <td th:text="${item.description}">Description</td>
            <td th:text="${item.location}">Location</td>
            <td>
                <img th:src="@{'/uploads/' + ${item.image}}" class="item-image" onclick="openImage(this.src)">
            </td>
            <td>
                <span th:if="${item.reportedBy == 'Admin'}">Admin</span>

                <span th:if="${item.reportedBy != null and item.reportedBy != 'Admin'}"
                      th:text="${#strings.substringBefore(item.reportedBy, '@')}">Student Username</span>

                <span th:if="${item.reportedBy == null}">Unknown</span>
            </td>
            <td>
                <a th:href="@{/delete-item/{id}(id=${item.id})}"
                   class="btn btn-outline"
                   onclick="return confirm('Delete this item?');">
                   Delete
                </a>
                <a th:href="@{/claim-item/{id}(id=${item.id})}"
                   class="btn btn-outline"
                   onclick="return confirm('Claim this item?');">
                   Claim
                </a>
            </td>
        </tr>

    </table>

    <br>
    <div class="back-center">
        <a th:href="@{/admin}" class="btn">Back to Dashboard</a>
    </div>
</div>

<div id="imageModal" class="image-modal" onclick="closeImage()">
    <span class="close-btn">&times;</span>
    <img id="modalImage">
</div>
<script th:src="@{/js/image_modal.js}"></script>

<div th:replace="~{footer}"></div>
<script th:src="@{/js/change.js}"></script>

</body>
</html>